<div [ngClass]="{ blur: (open$ | async) }">
  <div class="container row">
    <div class="img_main"></div>
    <div class="main_text">
      <div class="title">Make remote work</div>
      <p>
        Get your team in sync, no matter your location. Streamline processes,
        create team rituals, and watch productivity soar.
      </p>
      <div class="btn">Learn more</div>
      <div class="list_partner">
        <img src="../../assets/images/client-databiz.svg" alt="" class="list_img" />
        <img src="../../assets/images/client-audiophile.svg" alt="" class="list_audio" />
        <img src="../../assets/images/client-meet.svg" alt="" class="list_img" />
        <img src="../../assets/images/client-maker.svg" alt="" class="list_img" />
      </div>
    </div>
  </div>
</div>
